.jumbotron {
  text-align: center;
}

input {
  border: solid 1px;
}

img {
  height: 160px;
  width: 120px;
}

input {
height: 20px;
width: 300px;
border: 1px solid #000;
margin-top: 10px;
float: left;
}
